$header-bgColor: rgb(0, 0, 65);
$border-radius: 15px;

@mixin formButton {
  background-color: whitesmoke;
  border: double $header-bgColor 2px;
  border-radius: $border-radius;
  font-size: 0.9em;
  font-weight: 900;
  height: 32px;
  width: 18%;
  letter-spacing: 0.3px;
  &:hover {
    cursor: pointer;
    zoom: 1.05;
  }
}

.header {

  @include flex(column, center, center);

  background-image: url('../Images/background-img.jpg'); 
  color: $white-color;
  padding: 15px 0;
  text-align: center;
  .textFilter-section {
    padding: 10px 0 7px;
    width: $max-width;
    input {
      border-radius: $border-radius;
      font-size: 1.3em;
      padding: 7px;
      width: 75%;
      text-align: center;
    }
  }
  .filter-form {

    @include flex(row, center, space-around);

    font-size: 1.1em;
    font-weight: 900;
    padding: 0 0 10px;
    width: $max-width - 30%;
    select {
      background-color: $white-color;
      border-radius: 10px;
      font-size: 0.8em;
      padding: 5px;
    }
    input {
      border-radius: 10px;
      font-size: 0.8em;
      padding: 5px;
    }
    .form-button {
      @include formButton();
    }
  }
  .sort-section {

    @include flex(row, center, center);

    width: $max-width;
    .sort-form {

      @include flex(row, center, space-around);

      font-size: 1.1em;
      font-weight: 900;
      width: $max-width - 60%;
      select {
        background-color: $white-color;
        border-radius: 10px;
        font-size: 0.7em;
        padding: 4px;
      }
      input {
        font-size: 0.8em;
        padding: 5px;
      }
      .radio-section {

        @include flex(row, center, space-around);

        width: $max-width - 75%;

        input {
          margin: {
            right: 3px;
          };
        }
      }
      .form-button {

        @include formButton();

        font-size: 0.8;
        width: 15%;
      }
    }
  }
}