$white-color: white;
$max-width: 100%;

@mixin flex($direction, $align, $justify) {
  align-items: $align;
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
}

@import './header';
@import './table';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.page-main {
  height: 100%;
  width: 100%;
  min-height: 100%;
}
